
%btn-style {
    margin-right: 10px;
    border: none;
    color: $color_primary;
    font-weight: bold;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
    transition: all .3s;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include media(mb) {
        margin-bottom: 25px;
        width: 100%;
        margin-right: 0;
    }
}

.second-section {
    margin: 20px 0;
    border-top: 1px solid $color_border;
    padding-top: 35px;

    @include media(mb) {
        margin: 0;
        border-top: none;
        padding-top: 0;
    }
}

.section-3 {
    border-top: 1px solid $color_border;
    margin-bottom: 30px;
    padding-top: 35px;

    > div {
        flex: 0 0 48% !important;
    }

    @include media(mb) {
        margin-bottom: 0;
        border-top: none;
        padding-top: 0;
    }
}

.luft-form-wrapper {
    .preview-modal {
        background: $color_border;
        color: $color_primary;
        @extend %btn-style;

        &:hover {
            background: $color_light_grey;
        }        
    }
} 

.go-back-btn {
    background: $color_primary;
    color: $color_white;    
    @extend %btn-style;
    margin-top: 50px;
    
    &:hover {
        background: $color_green;
    }        
}