.#{$prefix}-template-dashboard {
    background: $color_light_grey;
}

.#{$prefix}-content-area {
    display: flex;
    flex-wrap: wrap;

    .#{$prefix}-menu-area {
        height: 100vh;
        background: $color_primary;
        padding: 30px 0;
        position: fixed;
        width: 250px;
    }

    ##{$prefix}-main-content {
        margin-left: 250px;
        width: 100%;
    }

    .#{$prefix}-user-content-area {
        background: #fff;
        padding: 30px;
        margin: 20px;
    }
}