.#{$prefix}-header-area {
    background: #DFDFE5;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    position: fixed;
    transition: all .3s;
    width: calc(100% - 300px);
    z-index: 99;
    height: 50px;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
            display: inline-flex;            
            position: relative;
            a {
                text-decoration: none;
                color: $color_black;
                i {
                    font-size: 22px;
                }
            }

            &.#{$prefix}-notification {
                span {
                    position: absolute;
                    top: -10px;
                    background: #FF6565;
                    border-radius: 50%;
                    height: 17px;
                    width: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color_white;
                    right: -13px;
                    font-size: 11px;
                }
            } 

            &.#{$prefix}-user-image {
                margin-left: 30px;
                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
            } 
        }
    }

    .#{$prefix}-user-icon {
        flex: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}


.user-info-sub {
    position: absolute;
    top: 110%;
    right: 0;
    background: $color_white;
    border: 1px solid $color_border;
    flex-wrap: wrap;
    min-width: 194px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .3s;

    .#{$prefix}-user-sub-link {
        display: flex;
        list-style: none;
        flex: 0 0 100%;
        padding: 12px 20px;
        border-bottom: 1px solid $color_border;

        &:last-child {
            border-bottom: none;
        }

        a {
            color: $color_primary;
            transition: all .3s;
            font-size: 15px;
            display: block;
            
            i {
                font-size: 15px;
                margin-right: 6px;  
            }
        }

        &.logout-link {
            a {
                color: #E2454B;
            }
        }
    }
}

.#{$prefix}-user-image {
    &:hover {
        .user-info-sub {
            opacity: 1;
            visibility: visible;
            z-index: 9;
            top: 100%;
        }
    }

}

.animate-menu-open {
    .#{$prefix}-header-area {
        width: 100%;
    }
}

.luft-header-area + * {
    margin-top: 75px;
}