.#{$prefix}-table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;  

    thead {
        border-top: 1px solid #707070;
        border-bottom: 1px solid #b7b7b7;
    }

    tbody {
        tr {     
            padding: .35em;
            background: #F2F2F2;
            &:nth-child(even) {
                background: $color_white;
            }
        }  
    }
    tr {     
      padding: .35em;     
    }
  
    th, td {
      padding: 15px;
      text-align: left;
      color: $color_primary;
      text-transform: capitalize;
      font-size: 14px;
      a {
          color: $color_primary;
      }
    }
  
    th {
        font-size: 15px;
        text-transform: capitalize;
        color: $color_primary;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.#{$prefix}-user-id,
        &.#{$prefix}-update-download {
            width: 100px;
        }
    }

    .#{$prefix}-user-edit {
        color: $color_primary;
        font-size: 18px;
        margin-right: 20px;
    }

    .#{$prefix}-user-download {
        color: #cd0000;
        font-size: 18px;
    }

    .filter-img {
        max-width: 13px;
        margin-left: 7px;
    }

}

img.filter-img{
    transition: all .3s;
}

.desc {
    img.filter-img {
        transform: rotateX(180deg);
    }
}
