%text-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.#{$prefix}-table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;  
    @include media(mb) {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }
    thead {
        border-top: 1px solid #707070;
        border-bottom: 1px solid #b7b7b7;
    }

    tbody {
        tr {     
            padding: .35em;
            background: #F2F2F2;
            &:nth-child(even) {
                background: $color_white;
            }

            @include media(mb) {
                background: $color_white;
                border-bottom: 1px solid #b7b7b7;
            }
        }  
    }
    tr {     
      padding: .35em;     
    }
  
    th, td {
      padding: 15px;
      text-align: left;
      color: $color_primary;
      text-transform: capitalize;
      font-size: 14px;
      a {
          color: $color_primary;
      }
    }
  
    th {
        font-size: 15px;
        text-transform: capitalize;
        color: $color_primary;
        width: 100%;
        @extend %text-cut;

        &.#{$prefix}-user-id,
        &.#{$prefix}-update-download {
            width: 100px;
            @include media(mb) {   
                width: 100%;
            }
        }
    }

    .#{$prefix}-user-edit {
        color: $color_primary;
        font-size: 18px;
        margin-right: 20px;
    }

    .#{$prefix}-user-download {
        color: #cd0000;
        font-size: 18px;
    }

    .filter-img {
        max-width: 13px;
        margin-left: 7px;
    }

}

img.filter-img{
    transition: all .3s;
}

.desc {
    img.filter-img {
        transform: rotateX(180deg);
    }
}

.extend-data {
    display: none;
}

.#{$prefix}-view-mobile {
    @include media(mb) {    
        tr {
            display: flex;
            flex-wrap: wrap;

            th,
            td {
                flex: 0 0 40%;
                order: 3;
                font-size: 18px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.luft-event-name {
                    flex: 0 0 30%;
                    order: 2;                    
                }
                &.luft-event-date {
                    flex: 0 0 30%;
                    order: 1;
                }

                &.luft-user-id {                 
                    flex: 0 0 20%;
                }
                &.luft-user-name {
                    flex: 0 0 28%;
                }
                &.luft-staff-work-time {
                    flex: 0 0 34%;
                }

                &.luft-update-download {
                    flex: 0 0 18%;
                }
            }

            .extend-data {
                flex: 0 0 100%;
            }

            span.plus-minus {
                background: $color_primary;
                height: 25px;
                width: 25px;
                display: flex;
                border-radius: 50%;
                margin-left: 15px;
                position: relative;
                align-items: center;
                justify-content: center;

                &:after {
                    height: 15px;
                    width: 4px;
                    content: "";
                    background: $color_white;
                    border-radius: 1px;
                    transition: all .3s;
                }
            
                &:before {
                    content: "";
                    width: 17px;
                    height: 4px;
                    position: absolute;
                    z-index: 99;
                    background: #fff;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    border-radius: 1px;
                }
            }

            &.data-expended {
                background: $color_light_grey !important;
                span.plus-minus {
                    &:after {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }

    .extend-data {
        > div {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 15px;
            border-bottom: 1px solid $color_border;
            padding-bottom: 15px;
            font-size: 18px;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                justify-content: flex-end;
                padding-top: 15px;                
            }           

            > span {
                flex: 0 0 50%;
                &:last-child {
                    padding-left: 30px;
                }
            }
        }        
    }
    
    .luft-user-edit-btn{
        color: $color_white;
        background: $color_primary;
        padding: 9px 35px;
        border-radius: 25px;
        transition: all .3s;
        &:hover {
            background: $color_green;
        }
    } 
    
    .user-list-data {
        display: flex;
        flex-wrap: nowrap !important;
        align-items: center;

       > div {
            flex: 0 0 60%;

            span {
                color: $color_primary;
                margin-left: 10px;
            }

            &:last-child {
                display: flex;
                justify-content: flex-end;
                flex: 0 0 40%;
                padding: 0 !important;
                margin: 0 !important;
            }
        }
    }
}

