$color_primary: #020441;
$color_green:   #58B975;
$color_white:   #fff;
$color_black:   #000;
$color_light_grey: #F7F7F7;
$color_border: #DFDFE5;
$prefix: luft;

.#{$prefix}-bg-primary {
    background: $color_primary;
}


.display-on-desktop {
    display: block;

    @include media(mb) {
        display: none;
    }
}

.display-on-mobile {
    display: none !important;

    @include media(mb) {
         display: block !important;
    }
}


.#{$prefix}-text-right {
    text-align: right !important;
}


.d-flex-center {
    display: flex;
    align-items: center;    
}

.has-error {
    border-color: red !important;
    + span .select2-selection {
        border-color: red !important;
        &:after {
            border: 1px solid;
            border-color: red !important; 
        }
    }
}

.f-100{
    flex: 0 0 100%;
}
.pr-5 {
    padding-right: 50px;

    @include media(mb) {
        padding-right: 0;
    }
}

.hide-on-mobile {
    @include media(mb) {
        display: none !important; 

    }
}